
html {
    cursor: default;
    height: 100%;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
}

aside, header {
    display: block;
}

.scrollable-y,
.has-touch .scroll,
.has-touch .modal,
.has-touch .steps-content {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scrollable-x {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.scroll {
    overflow: auto;
}

.pTn {
    padding-top: 0 !important;
}

.fb0 {
    -webkit-flex-basis: 0px;
    -ms-flex-preferred-size: 0px;
    flex-basis: 0px;
}

.fg1 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.fg2 {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.fg3 {
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}

.pAs {
    padding: 0.5rem !important;
}

.pAm {
    padding: 1rem !important;
}

.posS {
    position: static !important;
}

.posA {
    position: absolute !important;
}

.posR {
    position: relative !important;
}

.t0 {
    top: 0 !important;
}

.r0 {
    right: 0 !important;
}

.b0 {
    bottom: 0 !important;
}

.l0 {
    left: 0 !important;
}

.z1 {
    z-index: 100 !important;
}

.z2 {
    z-index: 200 !important;
}

.z3 {
    z-index: 300 !important;
}

.bdrTs {
    border-top: 1px solid !important;
}

.bdrAs {
    border: 1px solid !important;
}

.is-disabled {
    cursor: default !important;
}

.dF {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.fdC {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bareList,
.grid,
.nav,
.listBlock {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 * Core grid
 *
 * 1. Resets for ul, ol, dl
 */

.grid { /* [1] */
    font-size: 0 !important;
    text-align: left;
}

/**
 * Grid cell
 *
 * 1. Keep content correctly aligned with the grid direction
 * 2. Make childrens full-width by default (mobile-first)
 */

.grid-cell {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left; /* [1] */
}

.w100 {
    width: 100% !important;
}

.w40 {
    width: 40% !important;
}

.h100 {
    height: 100%;
}

.lC {
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
}


/**
 * Top
 */

.bdrTn {
    border-top: 0 !important;
}

.bdrTs {
    border-top: 1px solid !important;
}

.bdrTm {
    border-top: 2px solid !important;
}

.bdrTl {
    border-top: 3px solid !important;
}

/**
 * Bottom
 */

.bdrBn {
    border-bottom: 0 !important;
}

.bdrBs {
    border-bottom: 1px solid !important;
}

.bdrBm {
    border-bottom: 2px solid !important;
}

.bdrBl {
    border-bottom: 3px solid !important;
}

.hide-overflow,
.txtTruncate {
    text-overflow: ellipsis;
    overflow: hidden;
}

.txtTruncate {
    max-width: 100%;
    white-space: nowrap;
    word-wrap: normal;
}

@media screen and ( max-width: 48.75em ) {
    .records-content {
        width: 100%;
    }
}

@media screen and ( min-width: 48.75em ) {
    .records-content {
        width: 50%;
    }
}
.bdr--gray25 {
	border-color: #e0dfd8 !important;
}
.mAs {
	margin: 0.5rem !important;
}

.pLs {
	padding-left: 0.5rem !important;
}

.mBs {
	margin-bottom: 0.5rem !important;
}

.mBm {
	margin-bottom: 1rem !important;
}

.mTs {
	margin-top: 0.5rem !important;
}

/*Greate idea from  https://www.mobify.com/blog/multiline-ellipsis-in-pure-css/*/
/*.ellipsis {
    overflow: hidden;
    height: 200px;
    line-height: 25px;
    
}*/

.ellipsis {
    overflow: hidden;
    height: 3.6em;
    line-height: 1.2em;
    
}
    .ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 200px;
    }

    .ellipsis > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px;
    }

    .ellipsis:after {
        content: "\02026";
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        float: right;
        position: relative;
        top: -25px;
        left: 100%;
        width: 3em;
        margin-left: -3em;
        padding-right: 5px;
        text-align: right;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    }
